<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-cocoapod-support" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>"A Cordova/PhoneGap plugin to add support for cocoapod dependencies.</name>
    <author>Carlos "blakgeek" Lawton</author>
    <description>
        Cordova/Phonegap plugin will install xcode dependencies via cocoapods.
    </description>
    <keywords>cordova, ios, cocoapods</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <platform name="ios">
        <hook type="after_plugin_add" src="scripts/podify.js"/>
        <hook type="after_plugin_rm" src="scripts/podify.js"/>
    </platform>
</plugin>