<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-cocoapod-support" version="1.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Cordova Cocoapod Dependencies Support</name>
    <author>Carlos "blakgeek" Lawton</author>
    <description>A Cordova/PhoneGap plugin to add support for Cocoapod dependencies.</description>
    <keywords>cordova, ios, cocoapods, pod, pods, demo, example</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <hook type="before_prepare" src="scripts/podify.js"/>
    <hook type="after_plugin_add" src="scripts/podify.js"/>
    <hook type="after_plugin_rm" src="scripts/podify.js"/>
</plugin>